/** Stylesheet for Elixir.
 * To be used together with _nbis.scss, overwriting some of its content
 */

nav {
    background-color: $light_textgray;
}


footer.page-footer {
    margin: 0;
    background-color: $elixirorange;
}


.button-collapse {
    color: $elixirorange;
}
